@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}
* {
  font-family: outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
